.collapseContainer {
  position: absolute;
  top: 56px;
  right: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
}

.navBrand {
  margin-left: 15px;
}

@media only screen and (max-width: 991px) {
  .collapseContainer {
    right: auto;
    left: 10px;
    top: 136px;
  }

  .navBrand {
    margin-left: 0px;
  }
}
